<form  [formGroup]="form" (ngSubmit)="changeRole()">
  <h1 mat-dialog-title>Hi {{ data.name }}</h1>
  <div mat-dialog-content>
    <p>Change Role for the User</p>
    <mat-form-field>
      <mat-select formControlName="role" placeholder="Role">
        <ng-container *ngFor="let r of rolesArr">
          <mat-option [value]="r.value">{{ r.viewValue }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button type="submit" cdkFocusInitial>Change</button>
  </div>
</form>
