
mat-table {
  height: 100%;
  box-shadow: none;
  overflow:hidden;
  justify-content: start;
  align-items: center;
}

.hide {
  display: none;
}

mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}
.mat-tab-group {
  margin-bottom: 48px;
}

