<div class="contact-form">
  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="login-card">
      <mat-card-header class="header">
        <mat-toolbar class="heading">
          <span class="heading-item"><mat-card-title class="item"> SERVICE REQ 📫   </mat-card-title></span>
          <span class="heading-item fill-remaining-space"></span>
          <span class="heading-item"
            ><button
              class="btn-dialog-close"
              mat-stroked-button
              (click)="onClose()"
              tabindex="-1"
            >
              <mat-icon>clear</mat-icon>
            </button></span
          >
        </mat-toolbar>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Name"
                formControlName="title"
                type="text"
              />
              <mat-error
                *ngIf="form.controls['title'].hasError('required')"
              >
                Title is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-select formControlName="status" placeholder="Status">
                <mat-option>None</mat-option>
                <ng-container *ngFor="let s of statusArr">
                  <mat-option [value]="s.value">{{s.viewValue}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-select formControlName="categories" placeholder="Categories">
                <mat-option>None</mat-option>
                <ng-container *ngFor="let s of categoriesArr">
                  <mat-option [value]="s.value">{{s.viewValue}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                #des
                matInput
                placeholder="Description"
                type="text"
                formControlName="description"
                minlength="15"
              />
              <mat-error
                *ngIf="form.controls['description'].hasError('required')"
              >
                Description is <strong>required</strong>
              </mat-error>
              <mat-hint align="end">{{ des.value.length }} / 15</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input

                matInput
                placeholder="Assigned to"
                type="text"
                formControlName="assigned_to"
                minlength="15"
              />
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="btn btn-style">
        <button
          class="full-width btn-item"
          mat-raised-button
          color="primary"
          type="submit"
        >
          ADD SERVICE
        </button>
        <button
          class="full-width btn-item"
          mat-raised-button
          color="danger"
          (click)="onClear()"
          type="button"
        >
          CLEAR
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
