<form [formGroup]="passwordUpdate" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="login-card">
    <mat-card-header class="header">
      <mat-card-title class="item">  🚀  WELCOME TO CRM   🇮🇳  </mat-card-title>

      <mat-card-title class="item" > UPDATE PASSWORD  </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Current Password "
              formControlName="currentPassword"

            />
            <mat-error *ngIf="passwordUpdate.controls['currentPassword'].hasError('required')">
              Current Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="New Password"
              #password
              formControlName="newPassword"
              minlength="6"
            />
            <mat-error
              *ngIf="passwordUpdate.controls['newPassword'].hasError('required')"
            >
              Password is <strong>required</strong>
            </mat-error>
            <mat-hint align="end"
              >{{ password.value.length }} / 6</mat-hint
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Confirm Password"

              formControlName="passwordConfirm"
              minlength="6"
            />
            <mat-error
              *ngIf="passwordUpdate.controls['passwordConfirm'].hasError('required')"
            >
              Confirm Password is <strong>required</strong>
            </mat-error>
            <mat-hint align="end"
            >{{ password.value.length }} / 6</mat-hint
          >
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="full-width" mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>

